<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Data Monitor</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="refresh" content="5"> <!-- Refresca la página cada 5 segundos -->
</head>
<body>
    <div class="container">
        <h1>ESP32 Data Monitor</h1>
        <table>
            <thead>
                <tr>
                    <th>Temperatura (°C)</th>
                    <th>Humedad (%)</th>
                    <th>Presión (hPa)</th>
                    <th>Nivel de Luz</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td>{{ data.temperature }}</td>
                    <td>{{ data.humidity }}</td>
                    <td>{{ data.pressure }}</td>
                    <td>{{ data.lightLevel }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
